In [9]:
#Import bibliotek
import pandas as pd
from pycaret.regression import *

In [10]:
#Pobranie danych i zapisanie do dataframe
data_frame = pd.read_csv("../autocarml/data/01_raw/car_prices.csv", error_bad_lines=False)
data_frame['saledate'] = pd.to_datetime(data_frame['saledate'], utc=True)
data_frame.dtypes

Skipping line 408163: expected 16 fields, saw 17
Skipping line 417837: expected 16 fields, saw 17
Skipping line 421291: expected 16 fields, saw 17
Skipping line 424163: expected 16 fields, saw 17

Skipping line 427042: expected 16 fields, saw 17
Skipping line 427045: expected 16 fields, saw 17
Skipping line 434426: expected 16 fields, saw 17
Skipping line 444503: expected 16 fields, saw 17
Skipping line 453796: expected 16 fields, saw 17

Skipping line 461599: expected 16 fields, saw 17
Skipping line 461614: expected 16 fields, saw 17

Skipping line 492486: expected 16 fields, saw 17
Skipping line 497010: expected 16 fields, saw 17
Skipping line 497013: expected 16 fields, saw 17
Skipping line 499085: expected 16 fields, saw 17
Skipping line 501457: expected 16 fields, saw 17
Skipping line 505301: expected 16 fields, saw 17
Skipping line 505308: expected 16 fields, saw 17
Skipping line 520463: expected 16 fields, saw 17

Skipping line 528998: expected 16 fields, saw 17
Skipping line 529011: expected 16 fields, saw 17
Skipping line 529015: expected 16 fields, saw 17
Skipping line 529624: expected 16 fields, saw 17
Skipping line 548786: expected 16 fields, saw 17
Skipping line 551224: expected 16 fields, saw 17
Skipping line 554712: expected 16 fields, saw 17

year                          int64
make                         object
model                        object
trim                         object
body                         object
transmission                 object
vin                          object
state                        object
condition                   float64
odometer                    float64
color                        object
interior                     object
seller                       object
mmr                           int64
sellingprice                  int64
saledate        datetime64[ns, UTC]
dtype: object

In [11]:
data_frame.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,2014-12-16 04:30:00+00:00
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,2014-12-16 04:30:00+00:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,2015-01-14 20:30:00+00:00
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,2015-01-28 20:30:00+00:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,2014-12-18 04:30:00+00:00

In [12]:
#Lista cech
data_frame.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [13]:
data_frame.shape

(558811, 16)

In [14]:
data_frame.drop(columns=["vin","state","seller","saledate"], inplace=True)

In [15]:
data_frame.shape

(558811, 12)

In [16]:
data_frame = data_frame.drop(labels=range(100000,558811), axis=0)

In [17]:
data_frame.shape

(100000, 12)

In [18]:
model_setup = setup(data=data_frame, target="sellingprice",use_gpu=True)

In [19]:
best_model = create_model('dt')

In [22]:
pipeline, model_path = save_model(best_model, "pycaret_model_2")

Transformation Pipeline and Model Succesfully Saved